@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*{
	scroll-behavior: smooth;
}

/*body{
	min-height: 1000px;
}*/



/*NAVBAR*/
.nav-bar{
	background-color: transparent;
	z-index: 9999999999;
	transition: 0.5s;
	height: 64px;
	padding: 8px 16px;
}

.sticky{
	background-color: #1c1e21;
	box-shadow: 0 5px 20px rgba(0,0,0,.5);
}

.nav-bar > div{
	height: 100%;
}

.menu-movil{
	display: none;
}

.btn-toggle{
	display: block;
	position: absolute;
	top: 30%;
	right: 5%;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 9999;
	transition: opacity .25s ease;
}

.btn-toggle:hover{
	opacity: .7;
}

.btn-toggle span{
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	border: none;
	height: 2px;
	width: 100%;
	transition: all .35s ease;
}

.btn-toggle span:nth-of-type(2){
	top: 10px;
}

.btn-toggle span:nth-of-type(3){
	top: 20px;
}

.btn-active{
	z-index: 9999999999;
}

.btn-active span{
	background: #fff;
}

.btn-active .top{
	transform: translateY(10px) translateX(0) rotate(45deg);
}

.btn-active .middle{
	opacity: 0;
}

.btn-active .bottom{
	transform: translateY(-10px) translateX(0) rotate(-45deg);
}

.menu-toggle{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: hidden;
	transition: all .35s;
	z-index: 999999999;
}

.menu-toggle::before, .menu-toggle::after{
	content: '';
	position: absolute;
	top: 0;
	background: #000;
	width: 51%;
	height: 100%;
}

.menu-toggle::before{
	left: -55%;
	transition: left .35s ease;
}

.menu-toggle::after{
	right: -55%;
	transition: right .35s ease;
}

.open-menu{
	opacity: .9;
	visibility: visible;
	height: 100%;
}

.open-menu::before{
	left: 0;
}

.open-menu::after{
	right: 0;
}

.open-menu li{
	animation:animationtoggle .5s ease forwards;
	animation-delay: .35s;
}

.open-menu li:nth-of-type(2){
	animation-delay: .45s;
}

.open-menu li:nth-of-type(3){
	animation-delay: .55s;
}

.open-menu li:nth-of-type(4){
	animation-delay: .65s;
}

.open-menu li:nth-of-type(5){
	animation-delay: .75s;
}

.menu-toggle .mn-toggle{
	position: relative;
	top: 65%;
	transform: translateY(-50%);
	height: 70%;
	font-size: 1em;
	text-align: center;
	z-index: 999;
}

.menu-toggle .mn-toggle ul{
	position: relative;
	width: 100%;
	height: 80%;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
}

.menu-toggle .mn-toggle ul li{
	position: relative;
	display: block;
	opacity: 0;
	width: 100%;
	margin-bottom: 25px;
}

.menu-toggle .mn-toggle ul li a{
	display: block;
	width: 100%;
	transform: all .35s;
}

.menu-toggle .mn-toggle ul li a:hover::after{
	width: 100%;
}

.menu-toggle .mn-toggle ul li a::after{
	content: '';
	position: absolute;
	bottom: -10%;
	left: 50%;
	width: 0;
	height: 3px;
	background: #fff;
	transition: .35s;
	transform: translateX(-50%);
}

.menu-desktop{
	display: block;
}

.menu-desktop ul{
	margin-top: 15px;
}

.menu-desktop ul li{
	float:right;
	margin-right: 25px;
	font-size: .65em;
	padding-bottom: 5px;
}

.menu-desktop ul .hvr-underline-from-center:nth-child(5){
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}

.menu-desktop ul .hvr-underline-from-center:nth-child(5):before{
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	background: #2098D1;
	height: 4px;
}

.menu-desktop ul li a{
	transition: all .1s ease-out;
}



.menu-desktop ul li a:hover{
	color: #fff;
}

/*BTN WHATSAPP FLOAT*/
.section-wpp{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 75px;
	right: 50px;
	z-index: 99999999999;
}

.btn-whatsapp{
	width: 60px;
	height: 60px;
	background-color: #25d366;
	color: #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 1.25em;
	box-shadow: 3px 3px 9px #C0C0C0;
	cursor: pointer;
}

.btn-whatsapp i{
	font-size: 1.25em;
}

/*.btn-whatsapp i:after{
	content: "Ordena";
	display: block;
	font-size: .4em;
	margin-top: 1px;
}*/

.floating-wpp-popup{
	display: none;
	border-radius: 6px;
	background-color: #e5ddd5;
	position: absolute;
	overflow: hidden;
	box-shadow: 1px 2px 8px rgba(60,60,60,.25);

	padding: 0 12px 12px;
	/*width: 260px;
	*/
	width: 360px;
	height: auto;
	bottom: 82px;
	opacity: 1;
	right: 0;
}



.floating-wpp-popup .wpp-header{
	background: rgb(18,140,126);
	text-align: right;
	margin: 0 -15px 10px;
	padding: 12px 12px;
	/*padding: 6px 12px;*/
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.wpp-header span{
	color: #fff;
	font-size: .7em;
	/*font-size: .58em;*/
}

.wpp-header strong{
	float: right;
	font-size: .9em;
	/*font-size: .73em;*/
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.floating-wpp-popup .wpp-msg{
	background-color: #fff;
	padding: 8px;
	margin-top: 40px;
	border-radius: 0 5px 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.15);
	transition: opacity .2s;
	font-size: .7em;
}

.floating-wpp-popup .wpp-input{
	background-color: #fff;
	margin: 10px -15px -15px;
	padding: 0 15px;
	display: flex;
	align-items: center;
}

.floating-wpp-popup .wpp-input textarea{
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: none;
	padding: 8px;
	margin: 10px 0;
	width: 100%;
	max-width: 100%;
	font-size: .7em;
}

.floating-wpp-popup .wpp-input .wpp-btn-send{
	margin-left: 12px;
	font-size: 0;
	cursor: pointer;
}

/*BANNER*/
.main-banner{
	position: relative;
	width: 100vw;
	min-height: 100vh;
}

.main-banner .main-layer{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #0c0c0c;
	opacity: .4;
	z-index: 99999;
}

.primary-img{
	background-size: cover;
	background-position: center center;
	height: 100vh;
	filter: blur(2px);
	filter: grayscale(20%);
}

.primary-img{
	background-image: url("../img/bg/page-hero.jpg");
}


.content-banner{
	bottom: calc(50% - 150px);
	z-index: 99999;
}

.content-banner h2, .content-banner p, .content-banner .elementor-btn{
	margin-bottom: 20px;
	text-transform: uppercase;
}

.content-banner h2{
	font-family: "Playfair Display", Sans-serif;
	font-size: 3em;
}

.content-banner .carousel-btn{
	background-color: transparent;
	border: 2px solid #fff;
	font-weight: 600;
	font-size: .65em;
	padding: 15px 60px;
	transition: .35s;
	letter-spacing: 1px;
	transition: all .3s ease-out;
}

.content-banner .carousel-btn:hover{
	background-color: #fff;
	color: #555;
}

/* FIRST PART :v*/
.first-elementor{
	margin-top: 80px;
	margin-bottom: 50px;
}

.first-elementor-img section:nth-child(1){
	margin-left: 13.667%;
}

.title-elementor{
	text-align: center;
	margin-bottom: 20px;
}

.title-elementor h3{
	font-family: "Playfair Display", Sans-serif;
	font-weight: 600;
	color: #333;
	font-size: 2em;
}

.title-elementor span{
	font-size: .5em;
	display: block;
	letter-spacing: 3px;
	font-weight: 500;
	margin-bottom: 20px;
}

.txt-elementor{
	color: #555;
	text-align: center;
	font-size: .95em;
	line-height: 1.5em;
}


.first-elementor-img, .content-img{
	margin-top: 20px;
}

.child-img .img-child{
	background-image: url("../img/first-part/aguachile.jpg");
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 313px;
	transition: all .3s ease-out;
}



.child-img{
	margin-top: 45px;
}

.child-img .content-img{
	text-align: center;
	color: #333;
}



.child-img .content-img h5 a{
	font-family: "Playfair Display", Sans-serif;
	font-size: 1.1em;
	color: #333;

}

.child-img .content-img h5, .child-img .content-img p{
	margin-top: 20px;
}

.child-img .content-img p{
	color: #555;
	line-height: 2em;
	font-size: .75em;
}

/* BANNER SKIN :v*/
.banner-skin{
	position: relative;
	top: 0;
	left: 0;
	background-image: url("../img/bannerskin.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 80px;
	margin-bottom: 50px;
	height: 80vh;
	/*padding: 80px 0;*/
	transition: all .3s ease-out;
}

.banner-skin .banner-layer{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #0c0c0c;
	opacity: .5;
}

.banner-skin .swiper-container{
	width: 100%;
	height: 100%;
}

.banner-skin .swiper-slide{
	text-align: center;
	color: #fff;
}

.banner-skin .swiper-pagination{
	margin-bottom: 5em;
}

.banner-skin .swiper-pagination .swiper-pagination-bullet{
	background-color: #fff;
	opacity: .4;
	height: 13px;
	width: 13px;
}

.banner-skin .swiper-pagination .swiper-pagination-bullet-active{
	background: #fff;
	opacity: 1;
}

.banner-skin .img-swiper{
	margin:0 auto;
	width: 70px;
	height: 70px;
	border-radius: 100%;
}


.banner-skin .testimonial{
	font-weight: 500;
	font-style: normal;
	font-size: 1em;
}

.banner-skin .testimonial p{
	margin-left: 12.5%;
	margin-top: 1em;
	width: 75%;
}

.banner-skin .testimonial span{
	font-size: .80em;
	color: #fff;
	font-weight: 500;
}

/*FOODS MOVIL*/
.foods-movil{
	display: block;
	margin-top: 80px;
	margin-bottom: 50px;
}

.foods-movil .first-food{
	margin-bottom: 50px;
}

.foods-movil .img-food{
	background-image: url("../img/foods-movil/platillo.jpg");
	background-position: center center;
	background-size: cover;
	width: 100%;
}

.foods-movil .content-food{
	margin-top: 30px;
}

.foods-movil .content-food h5{
	font-size: .9em;
	text-transform: uppercase;
	line-height: 1.5;
	text-align: left;
	color: #333333;
	letter-spacing: 3px;
}

.foods-movil .content-food h5 span{
	display: block;
	font-family: "Playfair Display", Sans-serif;
	font-size: 1.6em;
	letter-spacing: 5px;
	text-transform: capitalize;
}

.foods-movil .content-food p{
	color: #555;
	font-weight: 300;
	font-style: normal;
	font-size: .75em;
	line-height: 1.6em;
}

.foods-movil .btn-food{
	margin-top: 15px;
}

.foods-movil .btn-food a{
	background-color: #f2f2f2;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .80em;
	padding:10px 40px;
	transition: all .6s ease-out;
	letter-spacing: 1px;
	color: #555;
}

/*FOODS DESKTOP*/
.foods-desktop{
	margin-top: 80px;
	margin-bottom: 50px;
	min-height: 920px;
}

.foods-desktop .title-food{
	margin-bottom: 30px;
}

.foods-desktop .title-food h3{
	font-family: "Playfair Display", Sans-serif;
	font-weight: 600;
	color: #333;
	font-size: 2em;
	text-align: center;
}

.foods-desktop .title-food h3 span{
	font-size: .5em;
	display: block;
	letter-spacing: 3px;
	font-weight: 500;
	margin-bottom: 20px;
}


.foods-desktop .food-photos{
	margin-top: 30px;
	transition: all .5s ease-out;
}

.foods-desktop .food-photos img{
	max-width: 100%;
}

.foods-desktop .food-photos .grid-view{
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	width: 0;
	height: 100%;
	padding: 0;
	background-size: 100% 100%;
	transition: all .5s ease-out;
}

.foods-desktop .btn-food{
	margin-top: 30px;
}

.foods-desktop .btn-food a{
	background-color: #f2f2f2;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .80em;
	padding:10px 40px;
	transition: all .35s ease;
	letter-spacing: 1px;
	color: #555;
}

.foods-desktop .btn-food a:hover{
	background-color: #555;
	color: #f2f2f2;
}

/*FOOD CAROUSEL*/
.food-carousel{
	margin-top: 80px;
	margin-bottom: 50px;
	height: 400px;
}

.food-carousel .swiper-container{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.food-carousel .swiper-slide{
	border-radius: 1%;
	background-position: center center;
	background-size: cover;
}


/*BUSINESS*/
.business{
	margin-top: 80px;
	margin-bottom: 50px;
}

.business h3{
	font-family: "Playfair Display", Sans-serif;
	font-weight: 600;
	color: #333;
	font-size: 2em;
	text-align: center;
}

.business span{
	font-size: .5em;
	display: block;
	letter-spacing: 3px;
	font-weight: 500;
	margin-bottom: 20px;
}

.business .icon{
	margin-top: 25px;
	text-align: center;
}

.business .icon a{
	width: 100%;
	margin-bottom: 15px;
	transition: all .5s ease-out;
}

.business .icon a:hover{
	transform: translateY(-5%);
}

.business .icon .img{
	width: 100%;
	height: 345px;
	background-position: center center;
	background-size: cover;
}

.business .icon h5{
	font-family: "Playfair Display", Sans-serif;
	font-weight: 600;
	color: #333;
	font-size: 1.1em;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}


/*FOOTER*/
.footer-page{
	background-color: #1c1e21;
	height: 40vh;
	padding: 40px 0;
	position: relative;
	top: 0;
	left: 0;
}


.social-element-container{
	width: 30%;
	margin-left: 38%;
	transform: translate(0px, -50%);
	position: absolute;
	top: 0;
	left: 0;

}

.social-element{
	display: inline-block;
	width: 30%;
	height: 45px;
	margin-left: -2%;
	margin-right: 0;
}

.facebook{
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: #2d4d96;
}

.facebook:hover{
	color: #1773EA;
}


.twitter{
	background-color: #62adec;
}

.twitter:hover{
	color: #1DA1F2;
}

.instagram{
	background-color: #295E89;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.instagram:hover{
	color: #8F4ABE;
}

.icon-social-media{
	display: inline-block;
	width: 15%;
	margin-right: 8%;
	margin-left: 10%;
	margin-top: 5px;
}

.name-social-element{
	display: inline-block;
	width: 30%;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
}

.footer-page p{
	text-align: center;
	font-weight: 300;
	font-size: .75em;
	letter-spacing: 1px;
	color: #fff;
}

.company-information{
	margin-top: 50px;
}





/* media query 	*/
/*MIN > MAYOR A */
/*max > MENOR A */

@media (max-width: 576px){
	.floating-wpp-popup{
		width: 330px;
	}

	.foods-movil .img-food{
		height: 200px;
	}

	.banner-skin .swiper-pagination{
		margin-bottom: 0;
	}

	
	.footer-page{
		height: 46vh;
		padding: 20px 0;
	}

	.footer-page .company-information{
		margin-top: 20px;
	}

}

@media (max-width: 768px){
	.title-elementor h3{
		font-size: 1.7em;
	}

	.txt-elementor{
		font-size: .75em;
		
	}

	.child-img .img-child{
		height: 325px;
	}

	.child-img .content-img h5 a{
		font-size: .90em;
	}

	.child-img .content-img p{
		font-size: .75em;
	}

	.banner-skin .testimonial{
		font-size: .75em;
	}

	.business h3{
		font-size: 2em;
	}

	.business .icon .img{
		height: 325px;
	}

	.banner-skin .swiper-pagination{
		margin-bottom: 1em;
	}

	.footer-page p{
		font-size: .65em;
	}
}

@media (max-width: 992px){
	.menu-movil{
		display: block;
	}

	.menu-desktop{
		display: none;
	}

	.section-wpp{
		bottom: 75px;
		right: 10px;
	}

	.first-elementor-img section:nth-child(1){
		margin-left: 0%;
	}

	.banner-skin{
		height: 400px;
	}

	.social-element-container{
		width: 100%;
		margin:0;
	}

	.social-element{
		width: 33.333%;
		margin: 0;
	}

	.facebook{
		border-radius: 0;
	}

	.instagram{
		border-radius: 0;
	}
}



/** 	KEYFRAMES	*/
@keyframes animationtoggle{
	0%{
		opacity: 0;
		left: 20%;
	}

	100%{
		opacity: 1;
		left: 0;
	}
}